services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - go-server
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  go-server:
    build: .
    container_name: go-server
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      - ENV=production
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    command: redis-server --save "" --appendonly no
